/* $Id*/

div.calendar {
  position: relative;
}

.zpCalendarWinter table {
  border: 1px solid;
  font-size: 11px;
  cursor: default;
  font-family: tahoma,verdana,sans-serif;
}

.zpCalendarWinter {
  z-index: 100;
  border: 1px solid;
  font-size: 11px;
  cursor: default;
  font-family: tahoma,verdana,sans-serif;
}

/* Header part -- contains navigation buttons and day names. */

.zpCalendarWinter .button { /* "<<", "<", ">", ">>" buttons have this class */
  text-align: center;    /* They are the navigation buttons */
  padding: 2px;          /* Make the buttons seem like they're pressing */
}

.zpCalendarWinter .nav {
  background: url("menuarrow.gif") no-repeat 100% 100%;
}

.zpCalendarWinter thead .title { /* This holds the current "month, year" */
  font-weight: bold;      /* Pressing it will take you to the current date */
  text-align: center;
  padding: 2px;
}

.zpCalendarWinter thead .headrow { /* Row <TR> containing navigation buttons */
}

.zpCalendarWinter thead .name { /* Cells <TD> containing the day names */
  border-bottom: 1px solid;
  padding: 2px;
  text-align: center;
}

.zpCalendarWinter thead .weekend { /* How a weekend day name shows in header */
}

.zpCalendarWinter thead .hilite { /* How do the buttons in header appear when hover */
  border: 1px solid;
  padding: 1px;
}

.zpCalendarWinter thead .active { /* Active (pressed) buttons in header */
  padding: 2px 0px 0px 2px;
}

.zpCalendarWinter thead .daynames { /* Row <TR> containing the day names */
}

/* The body part -- contains all the days in month. */

.zpCalendarWinter tbody .day { /* Cells <TD> containing month days dates */
  width: 2em;
  text-align: right;
  padding: 2px 4px 2px 2px;
}

.zpCalendarWinter tbody .day.othermonth {
}

.zpCalendarWinter tbody .day.othermonth.oweekend {
}

.zpCalendarWinter table .wn {
  padding: 2px 3px 2px 2px;
  border-right: 1px solid;
}

.zpCalendarWinter tbody .rowhilite td {
}

.zpCalendarWinter tbody .rowhilite td.wn {
}

.zpCalendarWinter tbody td.hilite { /* Hovered cells <TD> */
  padding: 1px 3px 1px 1px;
  border: 1px solid;
}

.zpCalendarWinter tbody td.active { /* Active (pressed) cells <TD> */
  padding: 2px 2px 0px 2px;
}

.zpCalendarWinter tbody td.selected { /* Cell showing today date */
  font-weight: bold;
  border: 1px solid;
  padding: 1px 3px 1px 0px;
}

.zpCalendarWinter tbody td.weekend { /* Cells showing weekend days */
}

.zpCalendarWinter tbody td.today {
  font-weight: bold;
}

.zpCalendarWinter tbody .disabled {
  color: #999;
}

.zpCalendarWinter tbody .emptycell { /* Empty cells (the best is to hide them) */
  visibility: hidden;
}

.zpCalendarWinter tbody .emptyrow { /* Empty row (some months need less than 6 rows) */
  display: none;
}

/* The footer part -- status bar and "Close" button */

.zpCalendarWinter tfoot .ttip { /* Tooltip (status bar) cell <TD> */
  padding: 2px;
}

.zpCalendarWinter tfoot .ttip .error {
  color: #c20;
}

.zpCalendarWinter tfoot tr.time td {
  padding: 0;
  border-top: 1px solid;
}

.zpCalendarWinter tfoot tr.time td.timetext {
  text-align: center;
}

.zpCalendarWinter tfoot .hilite { /* Hover style for buttons in footer */
  border: 1px solid;
  padding: 1px;
}

.zpCalendarWinter tfoot .active { /* Active (pressed) style for buttons in footer */
  border: 0;
  padding: 2px 0px 0px 2px;
}

.zpCalendarWinter tfoot tr.time table td {
  border: 0;
  padding: 0;
}

.zpCalendarWinter tfoot tr.time td.hour,
.zpCalendarWinter tfoot tr.time td.minute {
  text-align: right; font-weight: bold;
  border-right: 1px solid; padding: 0 1px 0 3px;
}

.zpCalendarWinter tfoot tr.time td.colon {
  text-align: center;
  font-weight: bold;
  background: transparent;
}

.zpCalendarWinter tfoot tr.time td.ampm {
  text-align: center;
}

/*
.zpCalendarWinter tfoot tr.time td.parent-hour table { position: relative; left: .7em; z-index: 10; empty-cells: visible; }
.zpCalendarWinter tfoot tr.time td.parent-minute table { position: relative; left: -.7em; z-index: 10; }
*/


.zpCalendarWinter tfoot .footrow { /* The <TR> in footer (only one right now) */
  text-align: center;
}

.zpCalendarWinter .calendar-time-scroller {
  border-left: 1px solid;
  border-right: 1px solid;
}

.zpCalendarWinter .calendar-time-scroller .up {
  width: 11px;
  background: transparent url("scroller-up.gif") no-repeat 50% 50%;
  height: 0.5em;
/*  font-size: 1px; */
}

.zpCalendarWinter .calendar-time-scroller .down {
  width: 11px;
  background: transparent url("scroller-down.gif") no-repeat 50% 50%;
  height: 0.5em;
/*  font-size: 1px; */
}


/* Combo boxes (menus that display months/years for direct selection) */

.zpCalendarWinter .combo {
  position: absolute;
  display: none;
  top: 0px;
  left: 0px;
  width: 4em;
  cursor: default;
  border: 1px solid;
  font-size: 90%;
}

.zpCalendarWinter .combo .active {
  border-top: 1px solid;
  border-bottom: 1px solid;
  font-weight: bold;
}


.zpCalendarWinter .combo .label,
.zpCalendarWinter .combo .label-IEfix {
  text-align: center;
  padding: 1px;
}

.zpCalendarWinter .combo .label-IEfix {
  width: 4em;
}

.zpCalendarWinter .combo .disabled {
  color: #888;
}

.zpCalendarWinter .history {
  width: 18em;
}

.zpCalendarWinter .history .label {
  text-align: center;
}

.zpCalendarWinter .history .label-IEfix {
  width: 18em;
}


.zpCalendarWinter, .zpCalendarWinter table {
  border-color: #556;
  color: #000;
  background-color: #eef;
}

.zpCalendarWinter .nav {
  background-color: #778;
}

.zpCalendarWinter thead .title {
  background-color: #ccd;
  color: #000;
}

.zpCalendarWinter thead .headrow {
  background-color: #778;
  color: #fff;
}

.zpCalendarWinter thead .daynames {
  background-color: #bdf;
}

.zpCalendarWinter thead .name {
  border-color: #556;
  color: #000;
}

.zpCalendarWinter thead .weekend {
  color: #a66;
}

.zpCalendarWinter thead .hilite {
  background-color: #aaf;
  color: #000;
  border-color: #04f;
}

.zpCalendarWinter thead .active {
  background-color: #77c;
}

.zpCalendarWinter tbody .day {
  color: #456;
}
.zpCalendarWinter tbody .day.othermonth {
  color: #bbb;
}
.zpCalendarWinter tbody .day.othermonth.oweekend {
  color: #fbb;
}

.zpCalendarWinter table .wn {
  border-color: #000;
  background-color: #bdf;
}

.zpCalendarWinter tbody .rowhilite td {
  background-color: #def;
}

.zpCalendarWinter tbody .rowhilite td.wn {
  background-color: #eef;
}

.zpCalendarWinter tbody td.hilite {
  background-color: #def;
  border-color: #bbb;
}

.zpCalendarWinter tbody td.active {
  background-color: #cde;
}

.zpCalendarWinter tbody td.selected {
  border-color: #000;
  background-color: #fff;
  color: #000;
}

.zpCalendarWinter tbody td.weekend {
  color: #a66;
}

.zpCalendarWinter tbody td.today {
  color: #00f;
}

.zpCalendarWinter tbody .disabled { color: #999; }

.zpCalendarWinter tfoot .footrow {
  background-color: #556;
  color: #fff;
}

.zpCalendarWinter tfoot .ttip {
  background-color: #ccd;
  color: #445;
  border-color: #556;
}

.zpCalendarWinter tfoot .hilite {
  background-color: #aaf;
  border-color: #04f;
  color: #000;
}

.zpCalendarWinter tfoot .active {
  background-color: #77c;
}

.zpCalendarWinter .combo {
  border-color: #655;
  background-color: #def;
  color: #000;
}

.zpCalendarWinter .combo .hilite {
  background-color: #acf;
}

.zpCalendarWinter .combo .active {
  border-color: #46a;
  background-color: #eef;
}

.zpCalendarWinter .month-left-border { /* Divider line between two monthes */
  border-left:1px solid #555566;
}


/* time */

.zpCalendarWinter tfoot tr.time td { border-color: #000; }
.zpCalendarWinter tfoot tr.time td.hour,
.zpCalendarWinter tfoot tr.time td.minute { border-color: #aac; }
.zpCalendarWinter tfoot tr.time td.hilite { background-color: #acf; }
.zpCalendarWinter tfoot tr.time td.active { background-color: #9be; }
